PORT                = 7000  // provide you portnumber it not provided the server will start try to use the default port 9000
medium_user_token   = s35156sadf55f456asf56saf5sdfds5af456sfsd31fasdf2343  // This is a dummy MEIDUM user token replace it with yours valid token
github_token        = github_asd_135sadf42123d1fasf54231SDF5AS13S23easdfasd1FD4FAS3 // This is a dummy GitHub token replace it with yours valid token